<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header :D</title>
        <!-- Font Awsome css -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css">
        <!-- Bottstrap 4 -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
        <!-- custom css -->
    <link rel="stylesheet" href="header.css">
        <!-- font -->
        <link href="https://fonts.googleapis.com/css?family=Oswald&display=swap" rel="stylesheet"></head>
<body>
    <header>
        <div class="top-header">
            <div class="container row mx-auto bo">
                <div class="col-sm-4 mx-auto">
                    <input type="text" placeholder=" Tìm Kiếm...">
                    <button class="btn btn-secondary search-btn">
                        <i class="fas fa-search"></i>
                    </button>
                </div>
                <div class="col-sm-2 con">
                    <button class="btn btn-danger login">Đăng Nhập</button>
                </div>
            </div>
        </div>
        <div class="mid-header">
            <div class="container row mx-auto">
                <div class="col-sm-3 logo-left">
                    <a href="#">
                      <img src="../../images//logo1.png" alt="">
                    </a>
                </div>
                <div class="col-sm-5 p-0 d-flex align-items-center">
                    <ul class="nav menu-1">
                        <li class="nav-item">
                          <a class="nav-link" href="#">TRUYỆN TRANH</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#">HAM TRUYỆN TV</a>
                        </li>
                      </ul>
                </div>
            </div>
        </div>
        <div class="bot-header">
            <div class="container row mx-auto bo">
                <div class="col-sm-9">
                    <ul class="nav menu-2">
                        <li class="nav-item">
                          <a class="nav-link" href="#">DANH SÁCH TRUYỆN</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#">MANGA</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#">MANHUA</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#">MANHWA</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#">HUYỀN HUYỄN</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#">HAMTRUYEN</a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#">TẢI APP</a>
                        </li>
                      </ul>
                </div>
                <div class="col-sm-2 con">
                    <button class="btn btn-danger login">
                        <i class="fas fa-arrow-circle-up"></i>
                        Upload truyện
                    </button>
                </div>
            </div>
        </div>
    </header>
</body>
</html>