<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ds The Loai</title>
    <!-- bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <!-- css -->
    <link rel="stylesheet" href="ds-the-loai.css">
    <!-- font -->
    <link href="https://fonts.googleapis.com/css?family=Oswald&display=swap" rel="stylesheet">
</head>
<body>
    <div class="container mx-auto">
        <div class="col-lg-4 the-loai">
            <div class="row">
               <span>Thể Loại Truyện</span>
            </div>            
        </div>
        <div class="col-lg-4 p-0">
                <ul class="ds-the-loai d-flex">
                            
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Adult</a></li>
                    <li><a href="#">Adventure</a></li>
                    <li><a href="#">Anime</a></li>
                    <li><a href="#">Báo thù</a></li>
                    <li><a href="#">Comedy</a></li>
                    <li><a href="#">Comic</a></li>
                    <li><a href="#">Cooking</a></li>
                    <li><a href="#">Cổ Đại</a></li>
                    <li><a href="#">Demons</a></li>
                    <li><a href="#">Detective</a></li>
                    <li><a href="#">Doujinshi</a></li>
                    <li><a href="#">Drama</a></li>
                    <li><a href="#">Ecchi</a></li>
                    <li><a href="#">Fantasy</a></li>
                    <li><a href="#">Gender Bender</a></li>
                    <li><a href="#">Hamtruyen</a></li>
                    <li><a href="#">Harem</a></li>
                    <li><a href="#">Historical</a></li>
                    <li><a href="#">History</a></li>
                    <li><a href="">Horor</a></li>
                    <li><a href="">Horror</a></li>
                    <li><a href="">Huyền Huyễn</a></li>
                    <li><a href="">Isekai</a></li>
                    <li><a href="">Josei</a></li>
                    <li><a href="">Live action</a></li>
                    <li><a href="">Lolicon</a></li>
                    <li><a href="">Magic</a></li>
                    <li><a href="">Manga</a></li>
                    <li><a href="">Manhua</a></li>
                    <li><a href="">Manhwa</a></li>
                    <li><a href="">Martial Art</a></li>
                    <li><a href="">Mature</a></li>
                    <li><a href="">Mecha</a></li>
                    <li><a href="">Mystery</a></li>
                    <li><a href="">Ngôn Tình</a></li>
                    <li><a href="">One Shot</a></li>
                    <li><a href="">Psychological</a></li>
                    <li><a href="">Romance</a></li>
                    <li><a href="">School Life</a></li>
                    <li><a href="">Sci-fi</a></li>
                    <li><a href="">Seinen</a></li>
                    <li><a href="">Shotacon</a></li>
                    <li><a href="">Shoujo</a></li>
                    <li><a href="">Shoujo Ai</a></li>
                    <li><a href="">Shounen</a></li>
                    <li><a href="">Shounen Ai</a></li>
                    <li><a href="">Shounen-Ai</a></li>
                    <li><a href="">Slice of Life</a></li>
                    <li><a href="">Smut</a></li>
                    <li><a href="">Sport</a></li>
                    <li><a href="">Supernatural</a></li>
                    <li><a href="">Thần Thoại</a></li>
                    <li><a href="">Tragedy</a></li>
                    <li><a href="">Truyện Siêu Hay</a></li>
                    <li><a href="">Truyện Việt</a></li>
                    <li><a href="">Trọng Sinh</a></li>
                    <li><a href="">VIP</a></li>
                    <li><a href="">Webtoon</a></li>
                    <li><a href="">Xuyên không - Hồi Sinh</a></li>
                    <li><a href="">Yaoi</a></li>
                    <li><a href="">Yuri</a></li>
                    <li><a href="">xuyên sports</a></li>
                    <li><a href="">Đam Mỹ</a></li>
                </ul>
        </div>
    </div>
</body>
</html>