<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="top-xem-nhieu.css">
    <!-- font -->
    <link href="https://fonts.googleapis.com/css?family=Oswald&display=swap" rel="stylesheet">
    <!-- boostrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>
    <div class="container row mx-auto">
        <div class="col-lg-4">
            <div class="txn-babel">
                <span>top hamtruyen</span>
            </div>
            <div class="txn-content">
                <div class="txn-list d-flex">
                    <div class="txn-number"><span class="nb nb-1">1</span></div>
                    <div class="txn-text"><a href="">Bách Luyện Thành Thần</a></div>
                </div>
                <div class="txn-list no-bg d-flex">
                    <div class="txn-number"><span class="nb nb-2">2</span></div>
                    <div class="txn-text"><a href="">Yêu Thần Ký</a></div>
                </div>
                <div class="txn-list d-flex">
                    <div class="txn-number"><span class="nb nb-3">3</span></div>
                    <div class="txn-text"><a href="">Đấu Phá Thương Khung</a></div>
                </div>
                <div class="txn-list no-bg d-flex">
                    <div class="txn-number"><span class="nb nb-4">4</span></div>
                    <div class="txn-text"><a href="">Tung Tiền Hữu Tọa Linh Kiếm Sơn</a></div>
                </div>
                <div class="txn-list d-flex">
                    <div class="txn-number"><span class="nb nb-5">5</span></div>
                    <div class="txn-text"><a href="">Đấu La Đại Lục</a></div>
                </div>
                <div class="txn-list no-bg d-flex">
                    <div class="txn-number"><span class="nb nb-6">6</span></div>
                    <div class="txn-text"><a href="">Song Tu Đạo Lữ Của Tôi</a></div>
                </div>
                <div class="txn-list d-flex">
                    <div class="txn-number"><span class="nb nb-7">7</span></div>
                    <div class="txn-text"><a href="">đấu la đại lục II</a></div>
                </div>
                <div class="txn-list no-bg d-flex">
                    <div class="txn-number"><span class="nb nb-8">8</span></div>
                    <div class="txn-text"><a href="">Huyết Ma Nhân</a></div>
                </div>
                <div class="txn-list d-flex">
                    <div class="txn-number"><span class="nb nb-9">9</span></div>
                    <div class="txn-text"><a href="">Trọng Sinh Đô Thị Tu Tiên</a></div>
                </div>
                <div class="txn-list no-bg d-flex">
                    <div class="txn-number"><span class="nb nb-10">10</span></div>
                    <div class="txn-text"><a href="">Ngự Linh Thế Giới</a></div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>