<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Footer</title>
    <link rel="stylesheet" href="footer.css">
    <!-- bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>
    <footer>
        <div class="ft-menu">
            <div class="container">
                <ul class="menu d-flex">
                    <li><a href="">Truyện tranh online</a></li>
                    <li><a href="">Truyện tranh manga hay</a></li>
                    <li><a href="">Truyện tranh huyền huyễn</a></li>
                    <li><a href="">Truyện tranh Ham truyện</a></li>
                </ul>
            </div>
        </div>
        <div class="ft-content">
            <div class="container">
                <div class="ft-wrapper d-flex m-0">
                    <div class="ft-logo">
                        <img src="../../images/logo.jpg" alt="" class="img-fluid">
                    </div>
                    <div class="ft-text">
                        <p>
                        &copy; 2014-2018 HamTruyen.com đọc truyện tranh online mới và truyện hay luôn cập nhật<br>
                        Trải nghiệm thế giới truyện tranh hoàn toàn miễn phí<br>
                        Liên hệ quảng cáo Email: contact.hamtruyen@gmail.com
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>
