<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="top-cuong-gia.css">
    <link href="https://fonts.googleapis.com/css?family=Oswald&display=swap" rel="stylesheet">
    <!-- bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>
    <div class="container mx-auto">
        <div class="col-lg-4">
            <div class="top-cuong-gia">
                <div class="cuonggia-label">
                    <span>cường giả bảng</span>
                </div>
                <div class="cuonggia-content">
                    <!-- start -->
                    <div class="list-cuonggia d-flex">
                        <div class="cuonggia-number"><span class="nb-red">1</span></div>
                        <div class="cuonggia-avartar-tuvi">
                            <div class="tieuviem cg-avt">
                                <img src="../../images/hopsua.jpg" alt="" class="img-fluid">
                            </div>
                            <div class="cg-tuvi">
                                <span>Đại đấu sư đỉnh phong</span>
                            </div>
                        </div>
                        <div class="cuonggia-profile">
                            <div class="cg-name"><span>HopSua</span></div>
                            <div class="cg-fame"><span>Nguyên chất 100%</span></div>
                        </div>
                    </div>
                    <!-- end -->
                    <!-- start -->
                    <div class="list-cuonggia d-flex">
                        <div class="cuonggia-number"><span class="nb-red">2</span></div>
                        <div class="cuonggia-avartar-tuvi">
                            <div class="tieuviem cg-avt">
                                <img src="../../images/noimage_2.jpg" alt="" class="img-fluid">
                            </div>
                            <div class="cg-tuvi">
                                <span>Bát tinh đại đấu sư</span>
                            </div>
                        </div>
                        <div class="cuonggia-profile">
                            <div class="cg-name"><span>brboy</span></div>
                            <div class="cg-fame"><span>Nam Việt Thần Quân</span></div>
                        </div>
                    </div>
                    <!-- end -->
                    <!-- start -->
                    <div class="list-cuonggia d-flex">
                        <div class="cuonggia-number"><span class="nb-red">3</span></div>
                        <div class="cuonggia-avartar-tuvi">
                            <div class="tieuviem cg-avt">
                                <img src="../../images/vphaeditor.png" alt="" class="img-fluid">
                            </div>
                            <div class="cg-tuvi">
                                <span>Tứ tinh đại đấu sư</span>
                            </div>
                        </div>
                        <div class="cuonggia-profile">
                            <div class="cg-name"><span>vphaeditor</span></div>
                            <div class="cg-fame"><span>PANH</span></div>
                        </div>
                    </div>
                    <!-- end -->
                    <!-- start -->
                    <div class="list-cuonggia d-flex">
                        <div class="cuonggia-number"><span class="nb-black">4</span></div>
                        <div class="cuonggia-avartar-tuvi">
                            <div class="tieuviem cg-avt">
                                <img src="../../images/taolattung.jpg" alt="" class="img-fluid">
                            </div>
                            <div class="cg-tuvi">
                                <span>Nhị tinh đại đấu sư</span>
                            </div>
                        </div>
                        <div class="cuonggia-profile">
                            <div class="cg-name"><span>taolattung</span></div>
                            <div class="cg-fame"><span>LuvT</span></div>
                        </div>
                    </div>
                    <!-- end -->
                    <!-- start -->
                    <div class="list-cuonggia d-flex">
                        <div class="cuonggia-number"><span class="nb-black">5</span></div>
                        <div class="cuonggia-avartar-tuvi">
                            <div class="tieuviem cg-avt">
                                <img src="../../images/certaindea.jpg" alt="" class="img-fluid">
                            </div>
                            <div class="cg-tuvi">
                                <span>Nhị tinh đại đấu sư</span>
                            </div>
                        </div>
                        <div class="cuonggia-profile">
                            <div class="cg-name"><span>certaindea</span></div>
                            <div class="cg-fame"><span>Liệt Dương Công Tử</span></div>
                        </div>
                    </div>
                    <!-- end -->
                    <!-- start -->
                    <div class="list-cuonggia d-flex">
                        <div class="cuonggia-number"><span class="nb-black">6</span></div>
                        <div class="cuonggia-avartar-tuvi">
                            <div class="tieuviem cg-avt">
                                <img src="../../images/khaimeo.jpg" alt="" class="img-fluid">
                            </div>
                            <div class="cg-tuvi">
                                <span>Đấu sư đỉnh phong</span>
                            </div>
                        </div>
                        <div class="cuonggia-profile">
                            <div class="cg-name"><span>khaimeo</span></div>
                            <div class="cg-fame"><span>loading</span></div>
                        </div>
                    </div>
                    <!-- end -->
                    <!-- start -->
                    <div class="list-cuonggia d-flex">
                        <div class="cuonggia-number"><span class="nb-black">7</span></div>
                        <div class="cuonggia-avartar-tuvi">
                            <div class="tieuviem cg-avt">
                                <img src="../../images/gaconxame.jpg" alt="" class="img-fluid">
                            </div>
                            <div class="cg-tuvi">
                                <span>Đấu sư đỉnh phong</span>
                            </div>
                        </div>
                        <div class="cuonggia-profile">
                            <div class="cg-name"><span>gaconxame</span></div>
                            <div class="cg-fame"><span>Chưa có danh hào.</span></div>
                        </div>
                    </div>
                    <!-- end -->
                    
                    <!-- start -->
                    <div class="list-cuonggia d-flex">
                        <div class="cuonggia-number"><span class="nb-black">8</span></div>
                        <div class="cuonggia-avartar-tuvi">
                            <div class="tieuviem cg-avt">
                                <img src="../../images/tamamo.jpg" alt="" class="img-fluid">
                            </div>
                            <div class="cg-tuvi">
                                <span>Bát tinh đấu sư</span>
                            </div>
                        </div>
                        <div class="cuonggia-profile">
                            <div class="cg-name"><span>Tamamo</span></div>
                            <div class="cg-fame"><span>L.Lolis</span></div>
                        </div>
                    </div>
                    <!-- end -->
                    <!-- start -->
                    <div class="list-cuonggia d-flex">
                        <div class="cuonggia-number"><span class="nb-black">9</span></div>
                        <div class="cuonggia-avartar-tuvi">
                            <div class="tieuviem cg-avt">
                                <img src="../../images/longthanlk.jpg" alt="" class="img-fluid">
                            </div>
                            <div class="cg-tuvi">
                                <span>Bát tinh đấu sư</span>
                            </div>
                        </div>
                        <div class="cuonggia-profile">
                            <div class="cg-name"><span>longthanlk</span></div>
                            <div class="cg-fame"><span>✪๖ۣۜNo ๖ۣۜSana ๖ۣۜNo ๖ۣۜLife✪</span></div>
                        </div>
                    </div>
                    <!-- end -->
                    <!-- start -->
                    <div class="list-cuonggia d-flex">
                        <div class="cuonggia-number"><span class="nb-black">10</span></div>
                        <div class="cuonggia-avartar-tuvi">
                            <div class="tieuviem cg-avt">
                                <img src="../../images/chishikiruki.jpg" alt="" class="img-fluid">
                            </div>
                            <div class="cg-tuvi">
                                <span>Thất tinh đấu sư</span>
                            </div>
                        </div>
                        <div class="cuonggia-profile">
                            <div class="cg-name"><span>chishikiruki</span></div>
                            <div class="cg-fame"><span>Bạch Biến</span></div>
                        </div>
                    </div>
                    <!-- end -->
                </div>
            </div>
        </div>
    </div>
</body>
</html>