<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>lrt</title>
    <link rel="stylesheet" href="lich-ra-truyen.css">
    <link href="https://fonts.googleapis.com/css?family=Oswald&display=swap" rel="stylesheet">
    <!-- bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body>
    <div class="container row mx-auto">
        <div class="col-sm-4">
            <div class="wrapper-lrt">
                <div class="lrt-label">
                    <div class="title-wrapper">
                        <p>Lịch Ra Truyện Ngày 18/02/2020</p>
                    </div>
                </div>
                <div class="lrt-content">
                    <ul class="lich-ra-truyen">
                        <li>
                            <div class="lrt-lichra lichra-ok"><span>10:30</span><a href="">Chung Cực Đấu La chapter 92</a></div>
                        </li>
                        <li>
                            <div class="lrt-lichra lichra-ok"><span>11:30</span><a href="">Phong quỷ Truyền Thuyết chapter 152</a></div>
                        </li>
                        <li>
                            <div class="lrt-lichra lichra-pending"><span>18:30</span><a href="">Âm Dương Miện chapter 16</a></div>
                        </li>
                        <li>
                            <div class="lrt-lichra lichra-pending"><span>19:30</span><a href="">Tinh Võ Thần Quyết chapter 304</a></div>
                        </li>
                        <li>
                            <div class="lrt-lichra lichra-pending"><span>20:30</span><a href="">Chí Tôn Chư Thiên chapter 195</a></div>
                        </li>
                    </ul>
                    <div class="descript">
                        Màu <span class="ok"> </span> là truyện đã ra, màu <span class="pending"> </span>
                        là truyện đang chờ duyệt <br>
                        <strong class="note">Chú ý</strong>
                        Đây là lịch ra chuyện tranh, các chap này có thể có phiên bản
                        video xem trước, các bạn có thể xem tạm trong
                        lúc chờ phiên bản truyện tranh ra <strong><a href="">Lịch ra truyện các ngày khác</a></strong>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>