.wrapper-lrt {
    font-size: 14px;
}
.ok {
    background-color: rgb(11, 177, 167);
    width: 20px;
    height: 10px;
    display: inline-block;
}
.pending {
    background-color: rgb(248, 12, 84);
    width: 20px;
    height: 10px;
    display: inline-block;
}

.lrt-content {
    margin-left: 0px;
}
.lrt-label {
    background-color:rgb(248, 12, 84);
    height: 38px;
    line-height: 38px;
    padding-left: 30px;
    color: #fff;
    display: block;
    font-weight: 500;
    font-family: 'Oswald', sans-serif;
    font-size: 17px;
}
.lich-ra-truyen {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    margin: 10px 10px 10px 10px;
    height: 200px;
    line-height: 20px;
    list-style-type: none;
    padding: 0px;
}
.lich-ra-truyen a {
    text-decoration: none;
    color: #515151;
    text-indent: 5px;
    box-sizing: border-box;
}
.lich-ra-truyen .lrt-lichra {
    margin-bottom: 15px;
}
.lrt-lichra a {
    padding-left: 5px;
}
.lichra-ok span {
    width: 41px;
    height: 22px;
    background-color: rgb(11, 177, 167);
    display: inline-block;
    color: #fff;
    text-align: center;
}
.lichra-pending span {
    width: 41px;
    height: 22px;
    background-color: rgb(248, 12, 84);
    display: inline-block;
    color: #fff;
    text-align: center;
}

.descript {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    padding-left: 10px;
    margin-right: 0px;
    margin-top: 10px;
    line-height: 20px;
}
.note {
    color: rgb(248, 12, 84);
    font-weight: 700px;
}
.descript strong a {
    text-decoration: none;
    color: #428bca;
    font-weight: 700;
    transition: all 0.3s;
}
.descript strong a:hover {
    color: #de4fcc;;  
}
