<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <!-- custom css -->
    <link rel="stylesheet" href="carosel.css">
    <!-- font -->
    <link href="https://fonts.googleapis.com/css?family=Oswald&display=swap" rel="stylesheet">
    <title>Carosel-:D</title>
  </head>
  <body>
    
    <div class="container">
        <div class="crl-title">
            <p class="tieude">TRUYỆN TRANH ONLINE</p>
            <div class="ke-ngang"></div>
        </div>
        <div class="crl">
            <div id="demo" class="carousel slide" data-ride="carousel">

                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <div class="container">
                      <div class="row">
        
        
                        <div class="col">
                          <div class="crl-content">
                            <a href="#">
                                <div class="crl-img">
                                    <img src="../../images/dauladailuc.jpg" class="img-fluid" alt="">
                                </div>
                                <div class="crl-overlay"></div>
                                <div class="crl-chapter">Chapter 1</div>
                            </a>
                          </div>
                          <div class="crl-name"><a href="#">đấu la đại lục II</a></div>
                        </div>
                        
                        <div class="col">
                          <div class="crl-content">
                            <a href="#">
                                <div class="crl-img">
                                    <img src="../../images/dai-chua-te.jpg" class="img-fluid" alt="">
                                </div>
                                <div class="crl-overlay"></div>
                                <div class="crl-chapter">Chapter 1</div>
                            </a>
                          </div>
                          <div class="crl-name"><a href="#">đại chúa tể</a></div>
                        </div>
                        
                        <div class="col">
                          <div class="crl-content">
                            <a href="#">
                                <div class="crl-img">
                                    <img src="../../images/dac-nhiem-sieu-cap-thanh-pho.jpg" alt="" class="img-fluid">
                                </div>
                                <div class="crl-overlay"></div>
                                <div class="crl-chapter">Chapter 1</div>
                            </a>
                          </div>
                          <div class="crl-name"><a href="#">đặc nhiệm siêu cấp thành phố</a></div>
                        </div>
                        
                        <div class="col">
                          <div class="crl-content">
                            <a href="#">
                                <div class="crl-img">
                                    <img src="../../images/chi-ton-chu-thien.jpg" alt="" class="img-fluid">
                                </div>
                                <div class="crl-overlay"></div>
                                <div class="crl-chapter">Chapter 1</div>
                            </a>
                          </div>
                          <div class="crl-name"><a href="#">chí tôn chư thiên</a></div>
                        </div>
                        
                        <div class="col">
                          <div class="crl-content">
                            <a href="#">
                                <div class="crl-img">
                                    <img src="../../images/chien-dinh.jpg" alt="" class="img-fluid">
                                </div>
                                <div class="crl-overlay"></div>
                                <div class="crl-chapter">Chapter 1</div>
                            </a>
                          </div>
                          <div class="crl-name"><a href="#">chiến điỉnh</a></div>
                        </div>
                        
                        <div class="col">
                          <div class="crl-content">
                            <a href="#">
                                <div class="crl-img">
                                    <img src="../../images/nghich-thien-kiem-than.jpg" alt="" class="img-fluid">
                                </div>
                                <div class="crl-overlay"></div>
                                <div class="crl-chapter">Chapter 1</div>
                            </a>
                          </div>
                          <div class="crl-name"><a href="#">nghịch thiên kiếm thần</a></div>
                        </div>
                        
                        <div class="col">
                          <div class="crl-content">
                            <a href="#">
                                <div class="crl-img">
                                    <img src="../../images/nghich-thien-ta-than.jpg" alt="" class="img-fluid">
                                </div>
                                <div class="crl-overlay"></div>
                                <div class="crl-chapter">Chapter 1</div>
                            </a>
                          </div>
                          <div class="crl-name"><a href="#">nghịch thiên tà thần</a></div>
                        </div>
                        
                        
        
                      </div>
                      <!-- het row -->
                    </div>
                    <!-- het container  -->
                  </div>
                  <!-- het mot slide -->
                  <div class="carousel-item">
                    <div class="container">
                      <div class="row">
        
        
                        
                          
                          <div class="col">
                            <div class="crl-content">
                              <a href="#">
                                  <div class="crl-img">
                                      <img src="../../images/dai-chua-te.jpg" class="img-fluid" alt="">
                                  </div>
                                  <div class="crl-overlay"></div>
                                  <div class="crl-chapter">Chapter 1</div>
                              </a>
                            </div>
                            <div class="crl-name"><a href="#">đại chúa tể</a></div>
                          </div>
                          
                          <div class="col">
                            <div class="crl-content">
                              <a href="#">
                                  <div class="crl-img">
                                      <img src="../../images/dac-nhiem-sieu-cap-thanh-pho.jpg" alt="" class="img-fluid">
                                  </div>
                                  <div class="crl-overlay"></div>
                                  <div class="crl-chapter">Chapter 1</div>
                              </a>
                            </div>
                            <div class="crl-name"><a href="#">đặc nhiệm siêu cấp thành phố</a></div>
                          </div>
                          
                          <div class="col">
                            <div class="crl-content">
                              <a href="#">
                                  <div class="crl-img">
                                      <img src="../../images/chi-ton-chu-thien.jpg" alt="" class="img-fluid">
                                  </div>
                                  <div class="crl-overlay"></div>
                                  <div class="crl-chapter">Chapter 1</div>
                              </a>
                            </div>
                            <div class="crl-name"><a href="#">chí tôn chư thiên</a></div>
                          </div>
                          
                          <div class="col">
                            <div class="crl-content">
                              <a href="#">
                                  <div class="crl-img">
                                      <img src="../../images/chien-dinh.jpg" alt="" class="img-fluid">
                                  </div>
                                  <div class="crl-overlay"></div>
                                  <div class="crl-chapter">Chapter 1</div>
                              </a>
                            </div>
                            <div class="crl-name"><a href="#">chiến điỉnh</a></div>
                          </div>
                          
                          <div class="col">
                            <div class="crl-content">
                              <a href="#">
                                  <div class="crl-img">
                                      <img src="../../images/nghich-thien-kiem-than.jpg" alt="" class="img-fluid">
                                  </div>
                                  <div class="crl-overlay"></div>
                                  <div class="crl-chapter">Chapter 1</div>
                              </a>
                            </div>
                            <div class="crl-name"><a href="#">nghịch thiên kiếm thần</a></div>
                          </div>
                          
                          <div class="col">
                            <div class="crl-content">
                              <a href="#">
                                  <div class="crl-img">
                                      <img src="../../images/nghich-thien-ta-than.jpg" alt="" class="img-fluid">
                                  </div>
                                  <div class="crl-overlay"></div>
                                  <div class="crl-chapter">Chapter 1</div>
                              </a>
                            </div>
                            <div class="crl-name"><a href="#">nghịch thiên tà thần</a></div>
                          </div>
                          <div class="col">
                            <div class="crl-content">
                              <a href="#">
                                  <div class="crl-img">
                                      <img src="../../images/trung-sinh-chi-do-thi-cuong-tien.jpg" class="img-fluid" alt="">
                                  </div>
                                  <div class="crl-overlay"></div>
                                  <div class="crl-chapter">Chapter 1</div>
                              </a>
                            </div>
                            <div class="crl-name"><a href="#">trùng sinh chi đô thị cuồng tiên</a></div>
                          </div>
                        
                        
        
                      </div>
                      <!-- het row -->
                    </div>
                    <!-- het container  -->
                  </div>
                  <!-- het mot slide -->
                  <div class="carousel-item">
                    <div class="container">
                      <div class="row">
        
        
                        
                          
                          <div class="col">
                            <div class="crl-content">
                              <a href="#">
                                  <div class="crl-img">
                                      <img src="../../images/dac-nhiem-sieu-cap-thanh-pho.jpg" alt="" class="img-fluid">
                                  </div>
                                  <div class="crl-overlay"></div>
                                  <div class="crl-chapter">Chapter 1</div>
                              </a>
                            </div>
                            <div class="crl-name"><a href="#">đặc nhiệm siêu cấp thành phố</a></div>
                          </div>
                          
                          <div class="col">
                            <div class="crl-content">
                              <a href="#">
                                  <div class="crl-img">
                                      <img src="../../images/chi-ton-chu-thien.jpg" alt="" class="img-fluid">
                                  </div>
                                  <div class="crl-overlay"></div>
                                  <div class="crl-chapter">Chapter 1</div>
                              </a>
                            </div>
                            <div class="crl-name"><a href="#">chí tôn chư thiên</a></div>
                          </div>
                          
                          <div class="col">
                            <div class="crl-content">
                              <a href="#">
                                  <div class="crl-img">
                                      <img src="../../images/chien-dinh.jpg" alt="" class="img-fluid">
                                  </div>
                                  <div class="crl-overlay"></div>
                                  <div class="crl-chapter">Chapter 1</div>
                              </a>
                            </div>
                            <div class="crl-name"><a href="#">chiến điỉnh</a></div>
                          </div>
                          
                          <div class="col">
                            <div class="crl-content">
                              <a href="#">
                                  <div class="crl-img">
                                      <img src="../../images/nghich-thien-kiem-than.jpg" alt="" class="img-fluid">
                                  </div>
                                  <div class="crl-overlay"></div>
                                  <div class="crl-chapter">Chapter 1</div>
                              </a>
                            </div>
                            <div class="crl-name"><a href="#">nghịch thiên kiếm thần</a></div>
                          </div>
                          
                          <div class="col">
                            <div class="crl-content">
                              <a href="#">
                                  <div class="crl-img">
                                      <img src="../../images/nghich-thien-ta-than.jpg" alt="" class="img-fluid">
                                  </div>
                                  <div class="crl-overlay"></div>
                                  <div class="crl-chapter">Chapter 1</div>
                              </a>
                            </div>
                            <div class="crl-name"><a href="#">nghịch thiên tà thần</a></div>
                          </div>
                          <div class="col">
                            <div class="crl-content">
                              <a href="#">
                                  <div class="crl-img">
                                      <img src="../../images/trung-sinh-chi-do-thi-cuong-tien.jpg" class="img-fluid" alt="">
                                  </div>
                                  <div class="crl-overlay"></div>
                                  <div class="crl-chapter">Chapter 1</div>
                              </a>
                            </div>
                            <div class="crl-name"><a href="#">trùng sinh chi đô thị cuồng tiên</a></div>
                          </div>
                          <div class="col">
                            <div class="crl-content">
                              <a href="#">
                                  <div class="crl-img">
                                      <img src="../../images/vinh-hang-chi-ton.jpg" class="img-fluid" alt="">
                                  </div>
                                  <div class="crl-overlay"></div>
                                  <div class="crl-chapter">Chapter 1</div>
                              </a>
                            </div>
                            <div class="crl-name"><a href="#">vĩnh hằng chí tôn</a></div>
                          </div>
                        
                        
        
                      </div>
                      <!-- het row -->
                    </div>
                    <!-- het container  -->
                  </div>
                  <!-- het mot slide -->
                  
                 
        
                </div>
                <a class="carousel-control-prev nut nuttrai" href="#demo" data-slide="prev">
                  <span class="carousel-control-prev-icon trai"></span>
                </a>
                <a class="carousel-control-next nut nutphai" href="#demo" data-slide="next">
                  <span class="carousel-control-next-icon phai"></span>
                </a>
                <div class="ke-ngang"></div>
        </div>
    </div>
    <!-- Optional JavaScript -->
    <script src="1.js"></script>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
  </body>
</html>