<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <!-- css custom -->
    <link rel="stylesheet" href="main-content.css">
    <!-- font -->
    <link href="https://fonts.googleapis.com/css?family=Oswald&display=swap" rel="stylesheet">
    <title>maincontent</title>
</head>
<body>
    <div class="container mx-auto">
        <div class="col-lg-8 p-0">
            <div class="mc-menu">
                  <nav class="navbar navbar-expand-lg ">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link disabled" href="#">truyện</a>
                          </li>
                      <li class="nav-item active">
                        <a class="nav-link" href="#">mới cập nhật</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">mới đăng</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">mới hoàn thành</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#">đề cử bạn đọc</a>
                      </li>
                    </ul>
                  </nav>
            </div>
            <div class="mc-content">
                <!-- start -->
                <div class="row">
                    <div class="col">
                        <div class="crl-content">
                            <a href="#">
                                <div class="crl-img">
                                    <img src="../../images/dauladailuc.jpg" class="img-fluid" alt="">
                                </div>
                                <div class="crl-overlay"></div>
                                <div class="crl-chapter">Chapter 1</div>
                            </a>
                          </div>
                          <div class="crl-name"><a href="#">đấu la đại lục II</a></div>
                    </div>

                    <div class="col">
                        <div class="crl-content">
                          <a href="#">
                              <div class="crl-img">
                                  <img src="../../images/dai-chua-te.jpg" class="img-fluid" alt="">
                              </div>
                              <div class="crl-overlay"></div>
                              <div class="crl-chapter">Chapter 1</div>
                          </a>
                        </div>
                        <div class="crl-name"><a href="#">đại chúa tể</a></div>
                      </div>
                      
                      <div class="col">
                        <div class="crl-content">
                          <a href="#">
                              <div class="crl-img">
                                  <img src="../../images/dac-nhiem-sieu-cap-thanh-pho.jpg" alt="" class="img-fluid">
                              </div>
                              <div class="crl-overlay"></div>
                              <div class="crl-chapter">Chapter 1</div>
                          </a>
                        </div>
                        <div class="crl-name"><a href="#">đặc nhiệm siêu cấp thành phố</a></div>
                      </div>
                      
                      <div class="col">
                        <div class="crl-content">
                          <a href="#">
                              <div class="crl-img">
                                  <img src="../../images/chi-ton-chu-thien.jpg" alt="" class="img-fluid">
                              </div>
                              <div class="crl-overlay"></div>
                              <div class="crl-chapter">Chapter 1</div>
                          </a>
                        </div>
                        <div class="crl-name"><a href="#">chí tôn chư thiên</a></div>
                      </div>
                      
                      <div class="col">
                        <div class="crl-content">
                          <a href="#">
                              <div class="crl-img">
                                  <img src="../../images/chien-dinh.jpg" alt="" class="img-fluid">
                              </div>
                              <div class="crl-overlay"></div>
                              <div class="crl-chapter">Chapter 1</div>
                          </a>
                        </div>
                        <div class="crl-name"><a href="#">chiến điỉnh</a></div>
                      </div>
                </div>
                <!-- end -->
                <!-- start -->
                <div class="row">
                    <div class="col">
                        <div class="crl-content">
                            <a href="#">
                                <div class="crl-img">
                                    <img src="../../images/dauladailuc.jpg" class="img-fluid" alt="">
                                </div>
                                <div class="crl-overlay"></div>
                                <div class="crl-chapter">Chapter 1</div>
                            </a>
                          </div>
                          <div class="crl-name"><a href="#">đấu la đại lục II</a></div>
                    </div>

                    <div class="col">
                        <div class="crl-content">
                          <a href="#">
                              <div class="crl-img">
                                  <img src="../../images/dai-chua-te.jpg" class="img-fluid" alt="">
                              </div>
                              <div class="crl-overlay"></div>
                              <div class="crl-chapter">Chapter 1</div>
                          </a>
                        </div>
                        <div class="crl-name"><a href="#">đại chúa tể</a></div>
                      </div>
                      
                      <div class="col">
                        <div class="crl-content">
                          <a href="#">
                              <div class="crl-img">
                                  <img src="../../images/dac-nhiem-sieu-cap-thanh-pho.jpg" alt="" class="img-fluid">
                              </div>
                              <div class="crl-overlay"></div>
                              <div class="crl-chapter">Chapter 1</div>
                          </a>
                        </div>
                        <div class="crl-name"><a href="#">đặc nhiệm siêu cấp thành phố</a></div>
                      </div>
                      
                      <div class="col">
                        <div class="crl-content">
                          <a href="#">
                              <div class="crl-img">
                                  <img src="../../images/chi-ton-chu-thien.jpg" alt="" class="img-fluid">
                              </div>
                              <div class="crl-overlay"></div>
                              <div class="crl-chapter">Chapter 1</div>
                          </a>
                        </div>
                        <div class="crl-name"><a href="#">chí tôn chư thiên</a></div>
                      </div>
                      
                      <div class="col">
                        <div class="crl-content">
                          <a href="#">
                              <div class="crl-img">
                                  <img src="../../images/chien-dinh.jpg" alt="" class="img-fluid">
                              </div>
                              <div class="crl-overlay"></div>
                              <div class="crl-chapter">Chapter 1</div>
                          </a>
                        </div>
                        <div class="crl-name"><a href="#">chiến điỉnh</a></div>
                      </div>
                </div>
                <!-- end -->
                <!-- start -->
                <div class="row">
                    <div class="col">
                        <div class="crl-content">
                            <a href="#">
                                <div class="crl-img">
                                    <img src="../../images/dauladailuc.jpg" class="img-fluid" alt="">
                                </div>
                                <div class="crl-overlay"></div>
                                <div class="crl-chapter">Chapter 1</div>
                            </a>
                          </div>
                          <div class="crl-name"><a href="#">đấu la đại lục II</a></div>
                    </div>

                    <div class="col">
                        <div class="crl-content">
                          <a href="#">
                              <div class="crl-img">
                                  <img src="../../images/dai-chua-te.jpg" class="img-fluid" alt="">
                              </div>
                              <div class="crl-overlay"></div>
                              <div class="crl-chapter">Chapter 1</div>
                          </a>
                        </div>
                        <div class="crl-name"><a href="#">đại chúa tể</a></div>
                      </div>
                      
                      <div class="col">
                        <div class="crl-content">
                          <a href="#">
                              <div class="crl-img">
                                  <img src="../../images/dac-nhiem-sieu-cap-thanh-pho.jpg" alt="" class="img-fluid">
                              </div>
                              <div class="crl-overlay"></div>
                              <div class="crl-chapter">Chapter 1</div>
                          </a>
                        </div>
                        <div class="crl-name"><a href="#">đặc nhiệm siêu cấp thành phố</a></div>
                      </div>
                      
                      <div class="col">
                        <div class="crl-content">
                          <a href="#">
                              <div class="crl-img">
                                  <img src="../../images/chi-ton-chu-thien.jpg" alt="" class="img-fluid">
                              </div>
                              <div class="crl-overlay"></div>
                              <div class="crl-chapter">Chapter 1</div>
                          </a>
                        </div>
                        <div class="crl-name"><a href="#">chí tôn chư thiên</a></div>
                      </div>
                      
                      <div class="col">
                        <div class="crl-content">
                          <a href="#">
                              <div class="crl-img">
                                  <img src="../../images/chien-dinh.jpg" alt="" class="img-fluid">
                              </div>
                              <div class="crl-overlay"></div>
                              <div class="crl-chapter">Chapter 1</div>
                          </a>
                        </div>
                        <div class="crl-name"><a href="#">chiến điỉnh</a></div>
                      </div>
                </div>
                <!-- end -->
            </div>
        </div>
    </div>
</body>
</html>